<html>
<head>
  <title></title>
</head>
<body>
  <h1>Welcome to Ducky Search!</h1>
  <p>powered by <a href="http://duckduckgo.com/">DuckDuckGo</a></p>
  <br />
  <br />
  Search for anything here:
  <form action="search" method="get">
    <input type="text" name="query" />
    <br />
    <br />
    What kind of results do you want?
    <br />
    <br />
    <input type="radio" name="selection" value="summary" />Topic Summary<br />
    <input type="radio" name="selection" value="results" />Search Results<br />
    <br />
    <input type="submit" name="submit" value="Search" />
  </form>

  <% if @results != nil %>
  <h3>Search Results</h3>
    <% @results.each do |hash| %>
    <ul>
      <li><%= hash[:title] %></li>
      <ul>
        <li><%= hash[:content] %></li>
      </ul>
    </ul>
    <% end %>
  <% end %>

  <% if @summary_results != nil %>
    <%= @summary_results %>
  <% end %>
</body>
</html>
